<mat-toolbar class="header-recibo">
  <div class="info">
    <div class="logo">
      <mat-icon>home</mat-icon>
    </div>

    <div class="texto">
      <span class="corretor">Corretor João Bosco L</span>
      <span class="slogan">VENDA – ALUGA – ADMINISTRAÇÃO DE IMÓVEIS</span>
      <span class="creci">CRECI - 175963</span>
    </div>
  </div>

  <div class="datas" [formGroup]="form">
    <mat-form-field appearance="outline">
      <mat-label>Data do Vencimento</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data do reajuste</mat-label>
      <input matInput type="date" formControlName="dataReajuste">
    </mat-form-field>
  </div>
</mat-toolbar>